*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* TEMP heights */
.TEMP-h3px{height: 3px;}
.TEMP-h55px{ height: 55px; }
.TEMP-80px{ height: 80px;}
.TEMP-250px{ height: 250px;}
.TEMP-h200px{height: 200px;}
.TEMP-280px{ height: 280px;}
.TEMP-h300px{ height: 500px;}
.TEMP-h400px{ height: 400px;}
.TEMP-h500px{ height: 500px;}

/* Colors */
/* .bg-blue-sky{  background-color: #add8e6;} */
/* .bg-oro{   background-color: #daa520;} */
/* .bg-blu{   background-color: #04008b;} */
.bg-viola{   background-color: #ee82ee;}
.bg-celeste{   background-color: #1e90ff;}
.bg-rosa{   background-color: #ffc0cb;}
.bg-grigio{   background-color: #d3d3d3;}
.bg-verde{   background-color: #218b21;}
.bg-salmone{   background-color: #f08080;}
.bg-verde-acqua{   background-color: #21b2aa;}
.bg-acqua-marina{   background-color: #7fffd4;}
.bg-nero{   background-color: black;}
.bg-grigio-scuro{  background-color: rgb(82, 82, 82);}

.test-white{
  color: white;
}

/* Col Widths */

.col-quart{  width: 13%;}
.col-quart-big{  width: 18%;}
.col-small{  width: 25%;}
.col-big{  width: 45%;}
.col-jumbo{  width: 50%;}
.col-full{  width: 70%;}

/* Borders */

.border-dashed-bl{  border: 1px dashed black;}
.border-dashed-wt{  border: 1px dashed white;}
.border-none{ border: none;}

/* Positionings */
.d-inline-block{
  display: inline-block;
}
.m-0-auto{ margin: 0 auto; }
.d-flex{ display: flex;}

.d-flex-center-xy{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-img-header{
  background-image: url("./img/jumbo.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.header-background{
  padding-top: 10px;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.elements{
  flex: 1;
  padding-top: 5px;
  padding-bottom: 7px;
}

.logo{
padding-left: 5px;
}
.links{
  justify-content:space-around;
  flex-grow: 3;
}
.login{
  text-align: right;
  padding-right: 5px;
}

.block-multiple{
  padding-bottom: 20px;
}

.footer-background{
  padding-top: 25px;
  padding-bottom: 0;
}

.footer{
  flex-grow: 0;
  
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
  
.footer-element{
  display: inline-block;
  padding: 0 5px;
  
}

